<h1 class="text-center">Meet Our Team</h1>
 <br>
 <br>
    <div class="card mx-auto" style="width: 18rem;">
  <img src="https://ca.slack-edge.com/T046HCL7R24-U045W96DD6G-791b7a9ed52f-512" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title">Tiago Araújo</h5>
    <p class="card-text">Full Stack Web Dev Student</p>
    <a href="https://www.linkedin.com/in/tiagofaraujo" class="btn btn-primary">See Profile</a>
    </div>
</div>
<br>
<br>

<div class="text-center">
    <h3>“No pressure, no diamonds.“</h3>
      <br>
        <p>Thomas Carlyle</p>
</div>
  



<br>
<br>




