<div>
  <!--Main Navigation-->
  <header>
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.477);">
        <div class="container">
          <div class="row justify-content-left">
            <div class="col-xl-5 col-md-8">

              <div id="form" class="bg-white rounded-5 shadow-5-strong p-5">
                <h4>Welcome!</h4>
                <form action="/login" method="POST">
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input id="form1Example1" type="text" name="email" class="form-control" />
                    <label class="form-label" for="form1Example1">Email address</label>
                  </div>

                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" name="password" id="form1Example2" class="form-control" />
                    <label class="form-label" for="form1Example2">Password</label>
                  </div>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <!-- Login button -->
                    <button type="submit" class="btn btn-primary">Login</button>
                    {{#if errorMessage}}
                    <br>
                    <p class="alert alert-warning" class="error">{{errorMessage}}</p>
                    {{/if}}
                  </div>
                </form>
                <br>
                <div class="col d-flex justify-content-center">
                  <form method="get" action="/signup">
                    <button class="btn btn-success" type="submit">Create new account</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!--Main Navigation-->
</div>