{{#if userInSession}}
  <h2>Welcome, {{userInSession.email}}!</h2>
  <p>This is your profile page my friend!</p>

  <button>
    <a href="/profile">Reload the page</a>
  </button>
  <button><a href="/news">All articles</a></button>
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}